<h2 class="text-center mb-4">Listado de Cursos</h2>

<div class="row align-items-center lista-cursos">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 mb-2">
    <div class="card">
      <!-- <div class="card-img img1"></div> -->
      <img src="assets/img/curso1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>